.test-uom, .test-material, .test-method, .test-translation, .test-summary {
    display:inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-family: gotham,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}

.test-translation { background-color: #A5C882; border: 1px solid #597C36; color: #264903; }
.test-uom { background-color: #EDB183; border: 1px solid #C83C3B; color: #7B0000;}
.test-material { background-color: #FBD643; border: 1px solid #AE8900; color: #623D00;}
.test-method { background-color: #9182C8; border: 1px solid #44357B; color: #2B1C62;}
.test-summary { background-color: #7DA2D8; border: 1px solid #4A6FA5; color: #173C72; cursor: pointer}

.item-delete {
    position: absolute;
    right: 0px;
    top: -1px;
    right: 1px;
    cursor: pointer;
}
.attribute-item-text, .translation-item-text { margin-right: 15px; }
.translation-item-text {
    margin-left: 24px;
    cursor: pointer;
    border-bottom: 1px dashed #597C36;
}
.info-text {
    font-size: 12px;
    color: #CCC;
}

.ajax-loader {

}

.test-content th, .pagination-table td {
    border: 0px;    
    text-align: center;
}

.translation-field-header, .uom-field-header, .material-field-header, .method-field-header { 
    margin-bottom: 5px; 
    margin-top: 10px;
}

.translation-field-label { color: #264903; }
.translation-field-header { border-bottom: 1px solid #8CAF69;}

.uom-field-label { color: #C83C3B; }
.uom-field-header { border-bottom: 1px solid #C83C3B;}

.material-field-label { color: #AE8900; }
.material-field-header { border-bottom: 1px solid #AE8900; }

.method-field-label { color: #44357B; }
.method-field-header { border-bottom: 1px solid #44357B; }

/*Language bar start*/
#language-menu {
    border-radius: 2px;
    width: 24px; 
    height: 20px; 
    margin-top: 2px;
    float: left;
    position: absolute;
    z-index: 1000;
    border: 1px solid #666;
    position: absolute;
    left: 1px;
    top: -1px;  
}
#language-menu, ul#language-list {
    background-color: #ccc;
}
ul#language-list {
    list-style-type: none;
    width: 24px;
    margin: 0;
    margin-left: -1px;
    margin-top: -2px;
    padding: 0;
    background-color: #eee;
}

#language-list-button {
    margin-left: 3px;
    margin-top: -5px;
    cursor: pointer;
}
.language-list-item {
    padding-left: 4px;
    padding-top: 1px;
    cursor: pointer;
}

ul#language-list li {
    margin-bottom: 0px;
    background-color: #eee;
}
/*Language bar end */

/*Buttons opacity start*/
ul#language-list li, #language-list-button, .input-button {
    opacity: 1;
}
ul#language-list li:hover, #language-list-button:hover, .input-button:hover {
    opacity: 0.5;
}
/*Buttons opacity end*/
.edit-translation-buttons {
    text-align: right;
    margin-bottom: 3px;
}
textarea.translation-input {
    padding: 2px;
    margin-top: 5px;
    font-size: 8pt;
    line-height: normal;
    min-height: 70px
}
.input-button {
    cursor: pointer;
}
