@using UMTD.Classes;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="grid-three-fourths">
        <input type="text" id="filter" data-bind="event: { keypress: filter }">
    </div>
    <div class="grid-fourth">
        <button class="btn">Filter</button>
    </div>
    </div>
<div id="dialog-message" title="">
    <img src="/Images/ajax-loader.gif" alt="Loading..." title="Loading..." class="ajax-loader">
</div>
<div id="dialog-confirm-test" title="Confirm test">
    <div class="grid-full">
        Are you sure you want to confirm this test (this action will hide test)?
    </div>
    <div class=".grid-third .offset-fourth">
        <button class="btn" data-bind="click: confirmTest">Confirm</button>
    </div>
</div>
<div>
        <!-- ko foreach: currentTest.translation -->
        <div class="test-synonym">
            <div class="item-delete"><img src="/Images/item-delete.png" data-bind="click: $parent.removeTranslation.bind($parent, $data)" /></div>
            <span class="item-text" data-bind="text: name"></span>
            <div class="item-lang"><img data-bind="attr: { src: languageIcon}" /></div>
        </div>
        <!-- /ko -->
</div>
<div id="dialog-add-translation" title="Add translation">
    <form>
        <div class="row">
            <div class="grid-fourth">
                <label>Language</label>
            </div>
            <div class="grid-three-fourths">
                <select siz="10" id="language" data-bind='options: languageList, optionsText: "name", optionsValue: "id"'></select>
            </div>
        </div>
        <div class="row">
            <div class="grid-fourth">
                <label>Text</label>
            </div>
            <div class="grid-three-fourths">
                <input type="text" id="newTranslation" />
            </div>
        </div>
        <div class="row">
            <div class="grid-three-fourths offset-fourth">
                <button class="btn" data-bind="click: createTranslation">Create</button>
            </div>
        </div>
    </form>
</div>
<!-- ko foreach: summaryTestList -->
<div class="test-summary" data-bind="click: showTest">
    <span class="item-text" data-bind="text: name"></span>
    <span class="item-text" data-bind="text: translationCount"></span>
    <span class="item-text" data-bind="text: materialCount"></span>
    <span class="item-text" data-bind="text: methodCount"></span>
    <span class="item-text" data-bind="text: uomCount"></span>
</div>
<!-- /ko -->
@Scripts.Render("~/bundles/test")


